html {
  /* START VARIABLES */
  --main: #007FFF;
  --light-bg: white;
  --dark-bg: #010B13;
  --light-card-bg: #91A3B0;
  --dark-card-bg: #3D4B55;
  --main-contrast: #FF0800;
  /* END VARIABLES */
  font-size: 16pt;
}

/* Color themes */
/* dark */
html {
  background-color: var(--dark-bg);

  .book-card {
    background-color: var(--dark-card-bg);
  }

  dialog {
    background-color: var(--dark-card-bg);
  }

  dialog::backdrop {
    background-color: var(--dark-card-bg);
  }

  h1, h2, p, label {
    color: white;
  }

  button {
    color: white;
    background-color: var(--dark-bg);
  }

  .theme.toggle-track {
    background-color: white;
  }

  .theme.toggle-track .toggle-thumb {
    background-color: var(--dark-bg);
  }
}

/* light */
html.light-theme {
  background-color: var(--light-bg);

  .book-card {
    background-color: var(--light-card-bg);
  }

  dialog {
    background-color: var(--light-card-bg);
  }

  dialog::backdrop {
    background-color: var(--light-card-bg);
  }

  h1, h2, p, label {
    color: black;
  }

  button {
    color: black;
    background-color: var(--light-bg);
  }

  .theme.toggle-track {
    background-color: var(--dark-bg);
  }

  .theme.toggle-track .toggle-thumb {
    background-color: white;
  }
}

h1, h2, p, label {
  line-height: 1.5em;
  font-family: sans-serif;
}

/* button types */
button {
  border: none;
  font-size: 1rem;
  padding: 0.2rem 0.7rem;
  border-radius: 0.7rem;
}

.priority-button {
  background-color: var(--main) !important;
  color: white !important;
}

.danger-button {
  background-color: var(--main-contrast) !important;
  color: white !important;
}

/* Toggle */
.theme.toggle-track {
  position: absolute;
  right: 1rem;
  top: 2rem;
}

.toggle-track {
  border: 3px solid black;
  border-radius: 30px;
  width: 90px;
  height: 40px;
}

.toggle-track .toggle-thumb {
  position: absolute;
  top: 5px;
  border: 3px solid black;
  border-radius: 25px;
  width: 25px;
  height: 25px;
}

.toggle-track:not(.toggle-on) .toggle-thumb {
  right: 5px;
}

.toggle-track.toggle-on .toggle-thumb {
  left: 5px;
}

/* main */
main {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  .add-book-button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .book-container {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }

  .book-card {
    flex: 1 0 20ch;
    min-width: 15rem;
    max-width: 20%;
    padding: 1rem;
    border-radius: 0.7rem;
  }

  .book-card h2,
  .book-card p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .book-card .controls {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
}

/* Dialog - new book form */
dialog {
  border: none;
  height: 70vh;
}

form label {
  font-size: 1.5rem;
}

form input {
  font-size: 1.2rem;
}

form div {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 1rem;
}
