html {
  /* START VARIABLES */
  --main: #007FFF;
  --light-bg: #C0C0C0;
  --dark-bg: #010B13;
  --light-card-bg: #91A3B0;
  --dark-card-bg: #3D4B55;
  --main-contrast: #FF0800;
  /* END VARIABLES */
  font-size: 10pt;
}

@media (width <= 760px) {
  html {
    font-size: calc(4pt + 1vw);
  }
}

/* Color themes */
/* dark */
html {
  background-color: var(--dark-bg);

  .book-card {
    background-color: var(--light-bg);
  }

  dialog {
    background-color: var(--dark-bg);
  }

  dialog::backdrop {
    background-color: var(--dark-bg);
  }

  h1, label, td, th {
    color: var(--light-bg);
  }

  h2, p {
    color: var(--dark-bg);
  }

  input {
    background-color: var(--light-bg);
  }

  button {
    color: var(--dark-bg);
    background-color: var(--light-bg);
  }

  .book-card button {
    color: var(--light-bg);
    background-color: var(--dark-bg);
  }

  .theme.toggle-track {
    background-color: var(--light-bg);
  }

  .theme.toggle-track .toggle-thumb {
    background-color: var(--dark-bg);
  }
}

/* light */
html.light-theme {
  background-color: var(--light-bg);

  .book-card {
    background-color: var(--dark-bg);
  }

  dialog {
    background-color: var(--light-bg);
  }

  dialog::backdrop {
    background-color: var(--light-bg);
  }

  h1, label, td, th {
    color: var(--dark-bg);
  }

  h2, p {
    color: var(--light-bg);
  }

  button {
    color: var(--light-bg);
    background-color: var(--dark-bg);
  }

  .book-card button {
    color: var(--dark-bg);
    background-color: var(--light-bg);
  }

  .theme.toggle-track {
    background-color: var(--dark-bg);
  }

  .theme.toggle-track .toggle-thumb {
    background-color: var(--light-bg);
  }
}

h1, h2, p, label, td, tr {
  line-height: 1.5em;
  font-family: sans-serif;
}

/* button types */
button {
  border: none;
  font-size: 1rem;
  padding: 0.2rem 0.7rem;
  border-radius: 50rem;
  font-weight: bold;
}

.priority-button {
  background-color: var(--main) !important;
  color: var(--light-bg) !important;
}

.danger-button {
  background-color: var(--main-contrast) !important;
  color: var(--light-bg) !important;
}

/* Toggle */
.toggle-track {
  position: relative;
  border-radius: 3rem;
  width: 7rem;
  height: 3rem;
}

.toggle-track .toggle-thumb {
  position: absolute;
  top: 0.25rem;
  border: 3px solid var(--dark-bg);
  border-radius: 2.5rem;
  width: 2rem;
  height: 2rem;
}

.toggle-track:not(.toggle-on) .toggle-thumb {
  right: 0.25rem;
}

.toggle-track.toggle-on .toggle-thumb {
  left: 0.25rem;
}

/* body */
body {
  padding: 1rem;
}

/* header */
header {
  padding: 0 calc((100vw - 50rem) / 2);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .controls {
    display: flex;
    gap: 1rem;
  }
}

/* main */
main {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 0 calc(10vw - 1rem);

  /* Card layout */
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
  }

  .book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
  }

  .book-card {
    padding: 1rem;
    border-radius: 0.7rem;
  }

  .book-card button {
    display: block;
    margin: 0.5rem 0;
  }

  .book-card h2,
  .book-card p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Table layout */
  table {
    width: 100%;
  }

  th, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 2vw;
    text-align: center;
    padding-bottom: 1rem;
  }

  th {
    font-weight: bold;
  }
}

/* Dialog - new book form */
dialog {
  border: none;
  height: 70vh;
}

form label {
  font-size: 1.5rem;
}

form input {
  font-size: 1.2rem;
}

form div {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 1rem;
}
